# Processamento dos dados

In [ ]:
# Carregamento das bibliotecas a serem utilizadas
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

## 1. Dataset Grade Diária

### 1.1 Carregamento do dataset

In [ ]:
# Carregamento do dataset "Grade Diária" Anonimizado.
dataset_gradediaria = pd.read_csv("/content/drive/MyDrive/dataset/grade_diaria_anonimizado.csv")
dataset_gradediaria.head(5)

,Praça,Data,Faixa Horária,Emissora A,Emissora B,Emissora C
0,praca_0,6/1/2020,06:00 - 06:05,programa_0 / JORNALISMO,programa_b_0 / RELIGIOSO,programa_c_0 / JORNALISMO
1,praca_0,6/1/2020,06:05 - 06:10,programa_0 / JORNALISMO,programa_b_0 / RELIGIOSO,programa_c_0 / JORNALISMO
2,praca_0,6/1/2020,06:10 - 06:15,programa_0 / JORNALISMO,programa_b_0 / RELIGIOSO,programa_c_0 / JORNALISMO
3,praca_0,6/1/2020,06:15 - 06:20,programa_0 / JORNALISMO,programa_b_0 / RELIGIOSO,programa_c_0 / JORNALISMO
4,praca_0,6/1/2020,06:20 - 06:25,programa_0 / JORNALISMO,programa_b_0 / RELIGIOSO,programa_c_0 / JORNALISMO

### 1.2 Transformação da Coluna 'Faixa Horária' em 'Hora Início'

In [ ]:
# Função que transforma elementos da coluna "Faixa Horária" para o padrão "HH:MM:SS"
def transforma_faixa_h(faixa_h):
  lista_h = faixa_h.split(' - ')
  horario_principal = lista_h[0]
  horario_principal = horario_principal + ':00'
  return horario_principal

# Aplicação da função referenciada acima, na coluna "Faixa Horária" - Criação de uma nova coluna "Hora Início"
dataset_gradediaria['Hora Início'] = dataset_gradediaria['Faixa Horária'].apply(transforma_faixa_h)
dataset_gradediaria.tail()

,Praça,Data,Faixa Horária,Emissora A,Emissora B,Emissora C,Hora Início
218875,praca_0,6/30/2022,29:35 - 29:40,programa_18 / JORNALISMO,programa_b_20 / RELIGIOSO,programa_c_21 / JORNALISMO,29:35:00
218876,praca_0,6/30/2022,29:40 - 29:45,programa_18 / JORNALISMO,programa_b_20 / RELIGIOSO,programa_c_21 / JORNALISMO,29:40:00
218877,praca_0,6/30/2022,29:45 - 29:50,programa_18 / JORNALISMO,programa_b_20 / RELIGIOSO,programa_c_21 / JORNALISMO,29:45:00
218878,praca_0,6/30/2022,29:50 - 29:55,programa_18 / JORNALISMO,programa_b_20 / RELIGIOSO,programa_c_21 / JORNALISMO,29:50:00
218879,praca_0,6/30/2022,29:55 - 30:00,programa_18 / JORNALISMO,programa_b_20 / RELIGIOSO,programa_c_21 / JORNALISMO,29:55:00

### 1.3 Conversão de tipos da coluna 'Data'
Conversão da coluna 'Data' para o tipo 'datetime'

In [ ]:
dataset_gradediaria['Data'] = dataset_gradediaria['Data'].apply(pd.to_datetime)

### 1.4 Derivação dos Atributos 'Programa' e 'Categoria'

In [ ]:
dataset_gradediaria[['Programa','Categoria']] = dataset_gradediaria['Emissora A'].str.split(' / ', expand=True)

### 1.5 Salvamento dos dados

In [ ]:
dataset_gradediaria.to_csv('Grade Diária Final.csv')

## 2. Dataset Emissora A

### 2.1 Carregamento dos Dados

In [ ]:
emissora_a_semana = pd.read_csv('/content/drive/MyDrive/dataset/Emissora A - Seg a Sex.csv')
emissora_a_sab = pd.read_csv('/content/drive/MyDrive/dataset/Emissora A - Sáb.csv')
emissora_a_dom = pd.read_csv('/content/drive/MyDrive/dataset/Emissora A - Dom.csv')

### 2.2 Concatenação das tabelas dos Dias da Semana - Emissora A

In [ ]:
emissora_a_geral = pd.concat([emissora_a_semana,emissora_a_sab,emissora_a_dom])

### 2.3 Conversão da Coluna 'Data' para o tipo 'datetime'

In [ ]:
emissora_a_geral['Data'] = emissora_a_geral['Data'].apply(pd.to_datetime)
emissora_a_geral.tail()

,Unnamed: 0,Data,Hora Início,Dia da Semana,Total Domicílios | Rat%,AB | Rat%,C1 | Rat%,C2 | Rat%,DE | Rat%,Masculino | Rat%,...,DE | Fid%,Masculino | Fid%,Feminino | Fid%,4-11 anos | Fid%,12-17 anos | Fid%,18-24 anos | Fid%,25-34 anos | Fid%,35-49 anos | Fid%,50-59 anos | Fid%,60+ anos | Fid%
31099,31099,2022-06-26,29:35:00,Domingo,3.37,1.42,0.00,2.06,0.89,0.63,...,100.0,79.31,92.24,0.0,0.0,0.00,0.0,100.0,68.45,84.34
31100,31100,2022-06-26,29:40:00,Domingo,3.31,1.42,0.00,1.93,0.89,0.80,...,100.0,100.00,100.00,0.0,0.0,0.00,0.0,100.0,100.00,100.00
31101,31101,2022-06-26,29:45:00,Domingo,3.62,1.90,0.00,2.29,0.89,1.14,...,100.0,93.04,93.25,0.0,0.0,71.26,0.0,100.0,100.00,100.00
31102,31102,2022-06-26,29:50:00,Domingo,4.02,1.78,0.52,2.53,0.89,1.28,...,100.0,71.81,100.00,0.0,0.0,77.48,40.0,100.0,100.00,100.00
31103,31103,2022-06-26,29:55:00,Domingo,4.72,1.90,1.29,3.10,0.89,1.69,...,100.0,95.19,91.58,0.0,60.0,88.74,100.0,100.0,100.00,100.00

### 2.4 Ordenamento da tabela "emissora_a_geral" pelas colunas "Data" e "Hora Início"

A fim de seguir fielmente a grade elencada pela emissora, utilizamos essas colunas ("Data" e "Hora Início") para a definição da ordem ao invés de seguir pela ordem alfabética e alterar a grade horária da programação.

In [ ]:
emissora_a_geral = emissora_a_geral.sort_values(by=['Data', 'Hora Início'])
emissora_a_geral.tail()

,Unnamed: 0,Data,Hora Início,Dia da Semana,Total Domicílios | Rat%,AB | Rat%,C1 | Rat%,C2 | Rat%,DE | Rat%,Masculino | Rat%,...,DE | Fid%,Masculino | Fid%,Feminino | Fid%,4-11 anos | Fid%,12-17 anos | Fid%,18-24 anos | Fid%,25-34 anos | Fid%,35-49 anos | Fid%,50-59 anos | Fid%,60+ anos | Fid%
156667,156667,2022-06-30,29:35:00,Quinta,1.67,0.30,0.41,1.03,0.53,0.17,...,60.0,100.00,72.93,0.0,100.0,20.0,0.0,100.00,0.0,60.00
156668,156668,2022-06-30,29:40:00,Quinta,1.97,0.30,0.41,1.45,0.35,0.17,...,40.0,100.00,85.20,0.0,100.0,100.0,0.0,100.00,0.0,40.00
156669,156669,2022-06-30,29:45:00,Quinta,2.22,0.30,0.41,1.45,0.88,0.17,...,100.0,100.00,100.00,0.0,100.0,100.0,0.0,100.00,0.0,100.00
156670,156670,2022-06-30,29:50:00,Quinta,2.71,0.54,0.41,1.81,0.88,0.37,...,100.0,73.76,85.57,0.0,100.0,100.0,0.0,77.78,0.0,80.11
156671,156671,2022-06-30,29:55:00,Quinta,3.60,0.90,0.41,2.50,0.88,0.51,...,100.0,100.00,97.02,0.0,100.0,100.0,0.0,100.00,80.0,100.00

### 2.5 Salvamento da Tabela Agregada

In [ ]:
emissora_a_geral.to_csv("Emissora A Segunda a Domingo.csv")

## 3. Dataset "Emissora A" e "Grade Diária"

### 3.1 Agregação (Merge) das duas tabelas Manipuladas: "Grade Diária" e "Emissora A"

In [ ]:
tabela_programacao = pd.merge(emissora_a_geral, dataset_gradediaria, how="left", left_on=['Data','Hora Início'], right_on=['Data','Hora Início'])
tabela_programacao.tail()
tabela_programacao.columns

Index(['Unnamed: 0', 'Data', 'Hora Início', 'Dia da Semana',
       'Total Domicílios | Rat%', 'AB | Rat%', 'C1 | Rat%', 'C2 | Rat%',
       'DE | Rat%', 'Masculino | Rat%', 'Feminino | Rat%', '4-11 anos | Rat%',
       '12-17 anos | Rat%', '18-24 anos | Rat%', '25-34 anos | Rat%',
       '35-49 anos | Rat%', '50-59 anos | Rat%', '60+ anos | Rat%',
       'Total Domicílios | Shr%', 'AB | Shr%', 'C1 | Shr%', 'C2 | Shr%',
       'DE | Shr%', 'Masculino | Shr%', 'Feminino | Shr%', '4-11 anos | Shr%',
       '12-17 anos | Shr%', '18-24 anos | Shr%', '25-34 anos | Shr%',
       '35-49 anos | Shr%', '50-59 anos | Shr%', '60+ anos | Shr%',
       'Total Indivíduos | Rch%', 'AB | Rch%', 'C1 | Rch%', 'C2 | Rch%',
       'DE | Rch%', 'Masculino | Rch%', 'Feminino | Rch%', '4-11 anos | Rch%',
       '12-17 anos | Rch%', '18-24 anos | Rch%', '25-34 anos | Rch%',
       '35-49 anos | Rch%', '50-59 anos | Rch%', '60+ anos | Rch%',
       'Total Indivíduos | Fid%', 'AB | Fid%', 'C1 | Fid%', 'C2 | Fid%',
       'DE | Fid%', 'Masculino | Fid%', 'Feminino | Fid%', '4-11 anos | Fid%',
       '12-17 anos | Fid%', '18-24 anos | Fid%', '25-34 anos | Fid%',
       '35-49 anos | Fid%', '50-59 anos | Fid%', '60+ anos | Fid%', 'Praça',
       'Faixa Horária', 'Emissora A', 'Emissora B', 'Emissora C', 'Programa',
       'Categoria'],
      dtype='object')

### 3.2 Limpeza de dados
Aqui incluimos todos os dados que não vamos utilizar para serem removidos da tabela

In [ ]:
tabela_programacao.drop(['Unnamed: 0',
       'Total Domicílios | Shr%', 'AB | Shr%', 'C1 | Shr%', 'C2 | Shr%',
       'DE | Shr%', 'Masculino | Shr%', 'Feminino | Shr%', '4-11 anos | Shr%',
       '12-17 anos | Shr%', '18-24 anos | Shr%', '25-34 anos | Shr%',
       '35-49 anos | Shr%', '50-59 anos | Shr%', '60+ anos | Shr%',
       'Total Indivíduos | Rch%', 'AB | Rch%', 'C1 | Rch%', 'C2 | Rch%',
       'DE | Rch%', 'Masculino | Rch%', 'Feminino | Rch%', '4-11 anos | Rch%',
       '12-17 anos | Rch%', '18-24 anos | Rch%', '25-34 anos | Rch%',
       '35-49 anos | Rch%', '50-59 anos | Rch%', '60+ anos | Rch%',
       'Total Indivíduos | Fid%', 'AB | Fid%', 'C1 | Fid%', 'C2 | Fid%',
       'DE | Fid%', 'Masculino | Fid%', 'Feminino | Fid%', '4-11 anos | Fid%',
       '12-17 anos | Fid%', '18-24 anos | Fid%', '25-34 anos | Fid%',
       '35-49 anos | Fid%', '50-59 anos | Fid%', '60+ anos | Fid%', 'Praça',
       'Faixa Horária', 'Emissora A', 'Emissora B',
       'Emissora C', 'Programa'], inplace=True, axis=1)
tabela_programacao.tail()

,Data,Hora Início,Dia da Semana,Total Domicílios | Rat%,AB | Rat%,C1 | Rat%,C2 | Rat%,DE | Rat%,Masculino | Rat%,Feminino | Rat%,4-11 anos | Rat%,12-17 anos | Rat%,18-24 anos | Rat%,25-34 anos | Rat%,35-49 anos | Rat%,50-59 anos | Rat%,60+ anos | Rat%,Categoria
218875,2022-06-30,29:35:00,Quinta,1.67,0.30,0.41,1.03,0.53,0.17,0.92,0.0,0.96,0.25,0.0,1.41,0.00,0.71,JORNALISMO
218876,2022-06-30,29:40:00,Quinta,1.97,0.30,0.41,1.45,0.35,0.17,1.07,0.0,0.96,1.25,0.0,1.41,0.00,0.47,JORNALISMO
218877,2022-06-30,29:45:00,Quinta,2.22,0.30,0.41,1.45,0.88,0.17,1.26,0.0,0.96,1.25,0.0,1.41,0.00,1.18,JORNALISMO
218878,2022-06-30,29:50:00,Quinta,2.71,0.54,0.41,1.81,0.88,0.37,1.42,0.0,0.96,1.25,0.0,1.74,0.00,1.88,JORNALISMO
218879,2022-06-30,29:55:00,Quinta,3.60,0.90,0.41,2.50,0.88,0.51,1.89,0.0,0.96,1.25,0.0,2.24,1.06,2.34,JORNALISMO

#### 3.2.1 Listagem das categorias existentes

Primeiramente, foi aplicado a função unique( ) para visualizar todos os valores presentes da coluna categoria e facilitar a localização do valor que queremos remover, o "Não consta".

In [ ]:
tabela_programacao['Categoria'].unique()

array(['JORNALISMO', 'AUDITORIO', 'FILME', 'NOVELA', 'SERIES',
       'ENTREVISTA', 'REALITY SHOW', 'HUMORISTICO', 'REPORTAGEM',
       'EDUCATIVO', 'FEMININO', 'SHOW', 'MUSICAL', 'RELIGIOSO', 'RURAL',
       'CARROS E MOTORES', 'ESPORTE', 'FUTEBOL', 'DOCUMENTARIO', 'OUTROS',
       'POLITICO', 'DEBATE', 'SORTEIO', 'MINISSERIE', 'PREMIACAO',
       'CULINARIO', 'GAME SHOW', 'TELE VENDAS', 'NAO CONSTA'],
      dtype=object)

#### 3.2.2 Remoção de valores vazios/nulos ou não categorizados da tabela
Utilizamos a função drop( ) para remover valores categóricos "Não consta", pois representam ausencia da transmissão e, consequentemente, consideramos o descarte. Incluímos também o inplace=True para substituir definitivamente ao invés de criar uma cópia.

In [ ]:
tabela_programacao.dropna()

tabela_programacao.drop(tabela_programacao.index[tabela_programacao['Categoria'] == 'NAO CONSTA'], inplace=True)

tabela_programacao.tail()

,Data,Hora Início,Dia da Semana,Total Domicílios | Rat%,AB | Rat%,C1 | Rat%,C2 | Rat%,DE | Rat%,Masculino | Rat%,Feminino | Rat%,4-11 anos | Rat%,12-17 anos | Rat%,18-24 anos | Rat%,25-34 anos | Rat%,35-49 anos | Rat%,50-59 anos | Rat%,60+ anos | Rat%,Categoria
218875,2022-06-30,29:35:00,Quinta,1.67,0.30,0.41,1.03,0.53,0.17,0.92,0.0,0.96,0.25,0.0,1.41,0.00,0.71,JORNALISMO
218876,2022-06-30,29:40:00,Quinta,1.97,0.30,0.41,1.45,0.35,0.17,1.07,0.0,0.96,1.25,0.0,1.41,0.00,0.47,JORNALISMO
218877,2022-06-30,29:45:00,Quinta,2.22,0.30,0.41,1.45,0.88,0.17,1.26,0.0,0.96,1.25,0.0,1.41,0.00,1.18,JORNALISMO
218878,2022-06-30,29:50:00,Quinta,2.71,0.54,0.41,1.81,0.88,0.37,1.42,0.0,0.96,1.25,0.0,1.74,0.00,1.88,JORNALISMO
218879,2022-06-30,29:55:00,Quinta,3.60,0.90,0.41,2.50,0.88,0.51,1.89,0.0,0.96,1.25,0.0,2.24,1.06,2.34,JORNALISMO

### 3.3 Derivação de novos atributos "Mês" e "Dia" a partir da coluna "Data"

Aqui formamos novas colunas "mês" e "dia" e retornamos esses valores de strings formatadas em data (date_format)

In [ ]:
tabela_programacao['Mês'] = tabela_programacao['Data'].dt.strftime("%m")
tabela_programacao['Dia'] = tabela_programacao['Data'].dt.strftime("%d")
tabela_programacao.tail()

,Data,Hora Início,Dia da Semana,Total Domicílios | Rat%,AB | Rat%,C1 | Rat%,C2 | Rat%,DE | Rat%,Masculino | Rat%,Feminino | Rat%,4-11 anos | Rat%,12-17 anos | Rat%,18-24 anos | Rat%,25-34 anos | Rat%,35-49 anos | Rat%,50-59 anos | Rat%,60+ anos | Rat%,Categoria,Mês,Dia
218875,2022-06-30,29:35:00,Quinta,1.67,0.30,0.41,1.03,0.53,0.17,0.92,0.0,0.96,0.25,0.0,1.41,0.00,0.71,JORNALISMO,06,30
218876,2022-06-30,29:40:00,Quinta,1.97,0.30,0.41,1.45,0.35,0.17,1.07,0.0,0.96,1.25,0.0,1.41,0.00,0.47,JORNALISMO,06,30
218877,2022-06-30,29:45:00,Quinta,2.22,0.30,0.41,1.45,0.88,0.17,1.26,0.0,0.96,1.25,0.0,1.41,0.00,1.18,JORNALISMO,06,30
218878,2022-06-30,29:50:00,Quinta,2.71,0.54,0.41,1.81,0.88,0.37,1.42,0.0,0.96,1.25,0.0,1.74,0.00,1.88,JORNALISMO,06,30
218879,2022-06-30,29:55:00,Quinta,3.60,0.90,0.41,2.50,0.88,0.51,1.89,0.0,0.96,1.25,0.0,2.24,1.06,2.34,JORNALISMO,06,30

### 3.4 Conversão das Colunas para o tipo "Number"
Transformação necessária para a utilização dos inputs, no modelo, posteriormente.

In [ ]:
dicionario_hora = {'06:00:00': 6, '06:05:00': 6, '06:10:00': 6, '06:15:00': 6.25, '06:20:00': 6.25, '06:25:00': 6.25, '06:30:00': 6.5, '06:35:00': 6.5, '06:40:00': 6.5, '06:45:00': 6.75, '06:50:00': 6.75, '06:55:00': 6.75, '07:00:00': 7, '07:05:00': 7, '07:10:00': 7, '07:15:00': 7.25, '07:20:00': 7.25, '07:25:00': 7.25, '07:30:00': 7.5, '07:35:00': 7.5, '07:40:00': 7.5, '07:45:00': 7.75, '07:50:00': 7.75, '07:55:00': 7.75, '08:00:00': 8, '08:05:00': 8, '08:10:00': 8, '08:15:00': 8.25, '08:20:00': 8.25, '08:25:00': 8.25, '08:30:00': 8.5, '08:35:00': 8.5, '08:40:00': 8.5, '08:45:00': 8.75, '08:50:00': 8.75, '08:55:00': 8.75, '09:00:00': 9, '09:05:00': 9, '09:10:00': 9, '09:15:00': 9.25, '09:20:00': 9.25, '09:25:00': 9.25, '09:30:00': 9.5, '09:35:00': 9.5, '09:40:00': 9.5, '09:45:00': 9.75, '09:50:00': 9.75, '09:55:00': 9.75, '10:00:00': 10, '10:05:00': 10, '10:10:00': 10, '10:15:00': 10.25, '10:20:00': 10.25, '10:25:00': 10.25, '10:30:00': 10.5, '10:35:00': 10.5, '10:40:00': 10.5, '10:45:00': 10.75, '10:50:00': 10.75, '10:55:00': 10.75, '11:00:00': 11, '11:05:00': 11, '11:10:00': 11, '11:15:00': 11.25, '11:20:00': 11.25, '11:25:00': 11.25, '11:30:00': 11.5, '11:35:00': 11.5, '11:40:00': 11.5, '11:45:00': 11.75, '11:50:00': 11.75, '11:55:00': 11.75, '12:00:00': 12, '12:05:00': 12, '12:10:00': 12, '12:15:00': 12.25, '12:20:00': 12.25, '12:25:00': 12.25, '12:30:00': 12.5, '12:35:00': 12.5, '12:40:00': 12.5, '12:45:00': 12.75, '12:50:00': 12.75, '12:55:00': 12.75, '13:00:00': 13, '13:05:00': 13, '13:10:00': 13, '13:15:00': 13.25, '13:20:00': 13.25, '13:25:00': 13.25, '13:30:00': 13.5, '13:35:00': 13.5, '13:40:00': 13.5, '13:45:00': 13.75, '13:50:00': 13.75, '13:55:00': 13.75, '14:00:00': 14, '14:05:00': 14, '14:10:00': 14, '14:15:00': 14.25, '14:20:00': 14.25, '14:25:00': 14.25, '14:30:00': 14.5, '14:35:00': 14.5, '14:40:00': 14.5, '14:45:00': 14.75, '14:50:00': 14.75, '14:55:00': 14.75, '15:00:00': 15, '15:05:00': 15, '15:10:00': 15, '15:15:00': 15.25, '15:20:00': 15.25, '15:25:00': 15.25, '15:30:00': 15.5, '15:35:00': 15.5, '15:40:00': 15.5, '15:45:00': 15.75, '15:50:00': 15.75, '15:55:00': 15.75, '16:00:00': 16, '16:05:00': 16, '16:10:00': 16, '16:15:00': 16.25, '16:20:00': 16.25, '16:25:00': 16.25, '16:30:00': 16.5, '16:35:00': 16.5, '16:40:00': 16.5, '16:45:00': 16.75, '16:50:00': 16.75, '16:55:00': 16.75, '17:00:00': 17, '17:05:00': 17, '17:10:00': 17, '17:15:00': 17.25, '17:20:00': 17.25, '17:25:00': 17.25, '17:30:00': 17.5, '17:35:00': 17.5, '17:40:00': 17.5, '17:45:00': 17.75, '17:50:00': 17.75, '17:55:00': 17.75, '18:00:00': 18, '18:05:00': 18, '18:10:00': 18, '18:15:00': 18.25, '18:20:00': 18.25, '18:25:00': 18.25, '18:30:00': 18.5, '18:35:00': 18.5, '18:40:00': 18.5, '18:45:00': 18.75, '18:50:00': 18.75, '18:55:00': 18.75, '19:00:00': 19, '19:05:00': 19, '19:10:00': 19, '19:15:00': 19.25, '19:20:00': 19.25, '19:25:00': 19.25, '19:30:00': 19.5, '19:35:00': 19.5, '19:40:00': 19.5, '19:45:00': 19.75, '19:50:00': 19.75, '19:55:00': 19.75, '20:00:00': 20, '20:05:00': 20, '20:10:00': 20, '20:15:00': 20.25, '20:20:00': 20.25, '20:25:00': 20.25, '20:30:00': 20.5, '20:35:00': 20.5, '20:40:00': 20.5, '20:45:00': 20.75, '20:50:00': 20.75, '20:55:00': 20.75, '21:00:00': 21, '21:05:00': 21, '21:10:00': 21, '21:15:00': 21.25, '21:20:00': 21.25, '21:25:00': 21.25, '21:30:00': 21.5, '21:35:00': 21.5, '21:40:00': 21.5, '21:45:00': 21.75, '21:50:00': 21.75, '21:55:00': 21.75, '22:00:00': 22, '22:05:00': 22, '22:10:00': 22, '22:15:00': 22.25, '22:20:00': 22.25, '22:25:00': 22.25, '22:30:00': 22.5, '22:35:00': 22.5, '22:40:00': 22.5, '22:45:00': 22.75, '22:50:00': 22.75, '22:55:00': 22.75, '23:00:00': 23, '23:05:00': 23, '23:10:00': 23, '23:15:00': 23.25, '23:20:00': 23.25, '23:25:00': 23.25, '23:30:00': 23.5, '23:35:00': 23.5, '23:40:00': 23.5, '23:45:00': 23.75, '23:50:00': 23.75, '23:55:00': 23.75, '24:00:00': 24, '24:05:00': 24, '24:10:00': 24, '24:15:00': 24.25, '24:20:00': 24.25, '24:25:00': 24.25, '24:30:00': 24.5, '24:35:00': 24.5, '24:40:00': 24.5, '24:45:00': 24.75, '24:50:00': 24.75, '24:55:00': 24.75, '25:00:00': 25, '25:05:00': 25, '25:10:00': 25, '25:15:00': 25.25, '25:20:00': 25.25, '25:25:00': 25.25, '25:30:00': 25.5, '25:35:00': 25.5, '25:40:00': 25.5, '25:45:00': 25.75, '25:50:00': 25.75, '25:55:00': 25.75, '26:00:00': 26, '26:05:00': 26, '26:10:00': 26, '26:15:00': 26.25, '26:20:00': 26.25, '26:25:00': 26.25, '26:30:00': 26.5, '26:35:00': 26.5, '26:40:00': 26.5, '26:45:00': 26.75, '26:50:00': 26.75, '26:55:00': 26.75, '27:00:00': 27, '27:05:00': 27, '27:10:00': 27, '27:15:00': 27.25, '27:20:00': 27.25, '27:25:00': 27.25, '27:30:00': 27.5, '27:35:00': 27.5, '27:40:00': 27.5, '27:45:00': 27.75, '27:50:00': 27.75, '27:55:00': 27.75, '28:00:00': 28, '28:05:00': 28, '28:10:00': 28, '28:15:00': 28.25, '28:20:00': 28.25, '28:25:00': 28.25, '28:30:00': 28.5, '28:35:00': 28.5, '28:40:00': 28.5, '28:45:00': 28.75, '28:50:00': 28.75, '28:55:00': 28.75, '29:00:00': 29, '29:05:00': 29, '29:10:00': 29, '29:15:00': 29.25, '29:20:00': 29.25, '29:25:00': 29.25, '29:30:00': 29.5, '29:35:00': 29.5, '29:40:00': 29.5, '29:45:00': 29.75, '29:50:00': 29.75, '29:55:00': 29.75}

dicionario_dia_semana = {"Domingo":0,"Segunda":1,"Terça":2,"Quarta":3,"Quinta":4,"Sexta":5,"Sábado":6}

In [ ]:
tabela_convertido = tabela_programacao.replace({"Hora Início":dicionario_hora, "Dia da Semana": dicionario_dia_semana})
tabela_convertido.tail()

,Data,Hora Início,Dia da Semana,Total Domicílios | Rat%,AB | Rat%,C1 | Rat%,C2 | Rat%,DE | Rat%,Masculino | Rat%,Feminino | Rat%,4-11 anos | Rat%,12-17 anos | Rat%,18-24 anos | Rat%,25-34 anos | Rat%,35-49 anos | Rat%,50-59 anos | Rat%,60+ anos | Rat%,Categoria,Mês,Dia
218875,2022-06-30,29.50,4,1.67,0.30,0.41,1.03,0.53,0.17,0.92,0.0,0.96,0.25,0.0,1.41,0.00,0.71,JORNALISMO,06,30
218876,2022-06-30,29.50,4,1.97,0.30,0.41,1.45,0.35,0.17,1.07,0.0,0.96,1.25,0.0,1.41,0.00,0.47,JORNALISMO,06,30
218877,2022-06-30,29.75,4,2.22,0.30,0.41,1.45,0.88,0.17,1.26,0.0,0.96,1.25,0.0,1.41,0.00,1.18,JORNALISMO,06,30
218878,2022-06-30,29.75,4,2.71,0.54,0.41,1.81,0.88,0.37,1.42,0.0,0.96,1.25,0.0,1.74,0.00,1.88,JORNALISMO,06,30
218879,2022-06-30,29.75,4,3.60,0.90,0.41,2.50,0.88,0.51,1.89,0.0,0.96,1.25,0.0,2.24,1.06,2.34,JORNALISMO,06,30

### 3.5 Utilização do Método One-Hot-Encoding para tratar os dados categorizados (Categoria)

Utilizamos o método One Hot Encoding  para converter as linhas categóricas em colunas e para passar o quadro de dados para a função get_dummies( ) atrelada ao método One Hot Enconding. Também foi incluído o drop_first para remover apenas a primeira linha categórica de nome "categoria".

In [ ]:
tabela_convertido = pd.get_dummies(tabela_convertido,columns=['Categoria'], drop_first=True)
tabela_convertido.tail()

,Data,Hora Início,Dia da Semana,Total Domicílios | Rat%,AB | Rat%,C1 | Rat%,C2 | Rat%,DE | Rat%,Masculino | Rat%,Feminino | Rat%,...,Categoria_POLITICO,Categoria_PREMIACAO,Categoria_REALITY SHOW,Categoria_RELIGIOSO,Categoria_REPORTAGEM,Categoria_RURAL,Categoria_SERIES,Categoria_SHOW,Categoria_SORTEIO,Categoria_TELE VENDAS
218875,2022-06-30,29.50,4,1.67,0.30,0.41,1.03,0.53,0.17,0.92,...,0,0,0,0,0,0,0,0,0,0
218876,2022-06-30,29.50,4,1.97,0.30,0.41,1.45,0.35,0.17,1.07,...,0,0,0,0,0,0,0,0,0,0
218877,2022-06-30,29.75,4,2.22,0.30,0.41,1.45,0.88,0.17,1.26,...,0,0,0,0,0,0,0,0,0,0
218878,2022-06-30,29.75,4,2.71,0.54,0.41,1.81,0.88,0.37,1.42,...,0,0,0,0,0,0,0,0,0,0
218879,2022-06-30,29.75,4,3.60,0.90,0.41,2.50,0.88,0.51,1.89,...,0,0,0,0,0,0,0,0,0,0

## 4. Dataset "Feriados"

### 4.1 Carregamento dos dados

In [ ]:
dataset_feriados = pd.read_csv("/content/drive/MyDrive/dataset/Feriados.csv")
dataset_feriados.head()

         Data                     Feriado   Ano
0  01/01/2019  Confraternização Universal  2019
1  04/03/2019                    Carnaval  2019
2  05/03/2019                    Carnaval  2019
3  19/04/2019            Paixão de Cristo  2019
4  21/04/2019                  Tiradentes  2019

### 4.2 Conversão da coluna 'Data' para o tipo 'datetime'

In [ ]:
dataset_feriados["Data"] = dataset_feriados["Data"].apply(pd.to_datetime)
dataset_feriados.head()

        Data                     Feriado   Ano
0 2019-01-01  Confraternização Universal  2019
1 2019-04-03                    Carnaval  2019
2 2019-05-03                    Carnaval  2019
3 2019-04-19            Paixão de Cristo  2019
4 2019-04-21                  Tiradentes  2019

### 4.3 Agregação (Merge) da tabela "Feriados" com a tabela "Emissora A", pelo método "left"

In [ ]:
tabela_convertido = pd.merge(tabela_convertido, dataset_feriados, how="left", left_on=["Data"], right_on=["Data"])

### 4.4 Conversão da coluna "Feriado" para Booleano(True/False) no tipo "int"

In [ ]:
tabela_convertido["Feriado"] = tabela_convertido["Feriado"].notnull().astype('int')
tabela_convertido.tail()

,Data,Hora Início,Dia da Semana,Total Domicílios | Rat%,AB | Rat%,C1 | Rat%,C2 | Rat%,DE | Rat%,Masculino | Rat%,Feminino | Rat%,...,Categoria_REALITY SHOW,Categoria_RELIGIOSO,Categoria_REPORTAGEM,Categoria_RURAL,Categoria_SERIES,Categoria_SHOW,Categoria_SORTEIO,Categoria_TELE VENDAS,Feriado,Ano
218863,2022-06-30,29.50,4,1.67,0.30,0.41,1.03,0.53,0.17,0.92,...,0,0,0,0,0,0,0,0,0,NaN
218864,2022-06-30,29.50,4,1.97,0.30,0.41,1.45,0.35,0.17,1.07,...,0,0,0,0,0,0,0,0,0,NaN
218865,2022-06-30,29.75,4,2.22,0.30,0.41,1.45,0.88,0.17,1.26,...,0,0,0,0,0,0,0,0,0,NaN
218866,2022-06-30,29.75,4,2.71,0.54,0.41,1.81,0.88,0.37,1.42,...,0,0,0,0,0,0,0,0,0,NaN
218867,2022-06-30,29.75,4,3.60,0.90,0.41,2.50,0.88,0.51,1.89,...,0,0,0,0,0,0,0,0,0,NaN

### 4.5 Remoção(drop) das colunas "Ano" e "Data" - Colunas não utilizadas

Nessa seção, para prosseguir com o processo de limpeza, removemos as colunas que seriam irrelevantes e mais uma vez utilizamos a função drop( ).

In [ ]:
tabela_final = tabela_convertido.drop(['Ano','Data'], axis=1)
tabela_final.tail()

,Hora Início,Dia da Semana,Total Domicílios | Rat%,AB | Rat%,C1 | Rat%,C2 | Rat%,DE | Rat%,Masculino | Rat%,Feminino | Rat%,4-11 anos | Rat%,...,Categoria_PREMIACAO,Categoria_REALITY SHOW,Categoria_RELIGIOSO,Categoria_REPORTAGEM,Categoria_RURAL,Categoria_SERIES,Categoria_SHOW,Categoria_SORTEIO,Categoria_TELE VENDAS,Feriado
218863,29.50,4,1.67,0.30,0.41,1.03,0.53,0.17,0.92,0.0,...,0,0,0,0,0,0,0,0,0,0
218864,29.50,4,1.97,0.30,0.41,1.45,0.35,0.17,1.07,0.0,...,0,0,0,0,0,0,0,0,0,0
218865,29.75,4,2.22,0.30,0.41,1.45,0.88,0.17,1.26,0.0,...,0,0,0,0,0,0,0,0,0,0
218866,29.75,4,2.71,0.54,0.41,1.81,0.88,0.37,1.42,0.0,...,0,0,0,0,0,0,0,0,0,0
218867,29.75,4,3.60,0.90,0.41,2.50,0.88,0.51,1.89,0.0,...,0,0,0,0,0,0,0,0,0,0

## 5. Modelo de Predição

### 5.1 Seleção das Features e Labels

In [ ]:
from sklearn.model_selection import train_test_split

# features a serem utilizadas
X = tabela_final[['Hora Início','Dia da Semana','Mês','Dia', 'Feriado', 'Categoria_CARROS E MOTORES', 'Categoria_CULINARIO', 'Categoria_DEBATE',
       'Categoria_DOCUMENTARIO', 'Categoria_EDUCATIVO', 'Categoria_ENTREVISTA',
       'Categoria_ESPORTE', 'Categoria_FEMININO', 'Categoria_FILME',
       'Categoria_FUTEBOL', 'Categoria_GAME SHOW', 'Categoria_HUMORISTICO',
       'Categoria_JORNALISMO', 'Categoria_MINISSERIE', 'Categoria_MUSICAL',
       'Categoria_NOVELA', 'Categoria_OUTROS', 'Categoria_POLITICO',
       'Categoria_PREMIACAO', 'Categoria_REALITY SHOW', 'Categoria_RELIGIOSO',
       'Categoria_REPORTAGEM', 'Categoria_RURAL', 'Categoria_SERIES',
       'Categoria_SHOW', 'Categoria_SORTEIO', 'Categoria_TELE VENDAS']]

# labels a serem utilizadas
y = tabela_final[['Total Domicílios | Rat%', 'AB | Rat%',
       'C1 | Rat%', 'C2 | Rat%', 'DE | Rat%', 'Masculino | Rat%',
       'Feminino | Rat%', '4-11 anos | Rat%', '12-17 anos | Rat%',
       '18-24 anos | Rat%', '25-34 anos | Rat%', '35-49 anos | Rat%',
       '50-59 anos | Rat%', '60+ anos | Rat%']]

### 5.2 Separação entre features/labels de teste e features/labels de validação

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=42)